html, body, #root {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  --darker-color: #1a1a1a;
  --dark-color: #242424;
  --light-color: rgba(255, 255, 255, 0.87); 
}

.darker-bg {
  background-color: var(--darker-color);
}

.dark-bg {
  background-color: var(--dark-color);;
}

.light-bg {
  background-color: var(--light-color);
}

.darker {
  color: var(--darker-color);
}

.dark {
  color: var(--dark-color);
}

.light {
  color: var(--light-color);
}

.w0 {
  width: 0;
}

.h0 {
  height: 0;
}

.balance {
  text-wrap: balance;
}

.responsive-name {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.responsive-title {
  font-size: 2rem;
}

.responsive-subtitle {
  font-size: 1.25rem;
}

@media (min-width: 30em) and (max-width: 60em) {
  .responsive-title {
    font-size: calc(2rem + 2rem * ((100vw - 30em) / 30em)) !important;
  }

  .responsive-subtitle {
    font-size: calc(1.25rem + 1.25rem * ((100vw - 30em) / 30em)) !important;
  }
}

@media (min-width: 60em) {
  .responsive-title {
    font-size: 5rem !important;
  }

  .responsive-subtitle {
    font-size: 2.5rem !important;
  }
}